#navbar {
  display: flex;
  justify-content: RIGHT;
  align-items: center;
  margin-left:auto;
  border: 20px solid white;
  
}

.nav-link a{
  padding: 30px;
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-size:  bold;
  border: none;
  position: relative;
}

.paragraph1{
  float: left;
  font-size: 20px;
  width: 400px;
  margin-left: 150px;
  margin-bottom: 100px;
}
.paragraph2{
  font-size: 20px;
  width: 400px;
  float: right;
  margin-right: 190px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 20%;
  margin: 1%;
  padding: 5%;
  text-align: center;
}
.card-title{
  color: black;
  text-decoration: none;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 70px;
  color: white;
  text-align: center;
  width: 90px;
}
.container {
  display: flex;
  margin-top: 70px;
}
.box {
  height: 200px;
  width: 50%;
  padding: 150px;
  margin-left: auto;
  background-color: grey;
  text-align: center;
  border-style: 150px;
}
.picture {
  width: 50%;
}

.hos {
  display: flex;
}
.fes {
  height: 200%;
  width: 50%;
  padding: 200px;
  margin-left: auto;
  background-color: rgb(234, 183, 183);
  text-align: center;
  border-style: 200px;
}
.pic {
  width: 50%;
}

.hobas{
  background-color:beige;
}

.first{
  
  float: left;
  font-size: 29px;
  margin-right: 90px;
}
.second{
  
  float: left;
  font-size: 29px;
}
.third{
  
  float: left;
  font-size: 20px;
  width: 575px;
  margin-left: 90px;
  text-align: left;
}

    